{% extends "base.html" %} {% load static %} {% block content %}
<!-- CONTENT -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h2 class="judul">Penambahan Barang</h2>
                    <hr class="garis"> {% if barangform %}
                    <!-- untuk errors -->
                    {% if barangform.errors %}
                    <ul class="errors">
                        {% for error in barangform.errors %}
                        <li> {{ error }} </li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endif %}


                    <!-- untuk field dan label dari barangform -->
                    <form method="POST">
                        {% csrf_token %} {% for field in barangform %}
                        <div class="form-label-group">
                            <label class="font-weight-bold" for="{{ field.name }}">
                                {{ field.label }}
                            </label> {{ field }}
                        </div>
                        {% endfor %} {% if formers %}
                        <hr>
                        <b>Info Barang</b><br>
                        <ul>
                            {% for fieldform,nama in formers %}
                            <li>{{ nama }}<br> Persen royalty:
                                <div class="infobarang">
                                    {{ fieldform.royal_input }}
                                    <div class="infobarang2">
                                        (%)
                                    </div>
                                </div>
                                Harga sewa:
                                <div class="infobarang3">
                                    {{ fieldform.harga_sewa }}
                                    <div class="infobarang2">
                                        (Rupiah/minggu)
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="submitditengah">
                            <button id="submit_barang" type="submit" class="button alert">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}