{% extends "base.html" %} {% load static %} {% block content %}
<!-- CONTENT -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h2 class="judul2">Daftar Barang</h2>
                    <small>
                            &nbsp;&nbsp; Filter by...
                    </small>
                    <select class="filtering">
                        <option value="A">None</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                    <small>
                            &nbsp;&nbsp; Sort by...
                    </small>
                    <select class="filtering" onChange="sort(this.value);" id="sorter_select">
                        <option value="id_barang">ID Barang</option>
                        <option value="nama_item">Daftar Item</option>
                        <option value="warna">Warna</option>
                        <option value="kondisi">Kondisi</option>
                    </select>
                    <!-- Daftar barang -->
                    <div class="table-responsive">
                        <table class="table center">
                            <thead>
                                <tr>
                                    <th scope="col">ID Barang</th>
                                    <th scope="col">Daftar Item</th>
                                    <th scope="col">Warna</th>
                                    <th scope="col">Kondisi</th>
                                    <th scope="col">Action</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="tabel-barang">
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination" id="pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var url_list_barang = "{% url 'barang:get_barang_list' %}";
    var url_del_barang = "{% url 'barang:delete_barang' %}";
</script>
<!-- <script type="text/javascript" src="{% static 'js/get-barang.js' %}"></script> -->
<script>
    String.prototype.format = function() {
        var a = this;
        for (var k in arguments) {
            a = a.replace(new RegExp("\\{" + k + "\\}", 'g'), arguments[k]);
        }
        return a
    }

    function updateURLParameter(url, param, paramVal) {
        var newAdditionalURL = "";
        var tempArray = url.split("?");
        var baseURL = tempArray[0];
        var additionalURL = tempArray[1];
        var temp = "";
        if (additionalURL) {
            tempArray = additionalURL.split("&");
            for (var i = 0; i < tempArray.length; i++) {
                if (tempArray[i].split('=')[0] != param) {
                    newAdditionalURL += temp + tempArray[i];
                    temp = "&";
                }
            }
        }

        var rows_txt = temp + "" + param + "=" + paramVal;
        return baseURL + "?" + newAdditionalURL + rows_txt;
    }

    var td_open = "<td scope='row'>";
    var td_close = "</td>";
    var tr_open = "<tr>";
    var tr_open_format = "<tr id='id{0}'>";
    var tr_close = "</tr>";
    var update_button = '<button type="button" class="btn btn-primary update" data-toggle="modal" data-target="#{0}"><i class="fas fa-sync-alt"></i></button>';
    var modal_update = `
<div class="modal fade" id="{0}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Barang</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST">
            <div class="modal-body modalkiri">
                    {% csrf_token %} {% for field in barangform %}
                        <div class="form-label-group">
                            <label class="font-weight-bold" for="{{ field.name }}">
                                {{ field.label }}
                            </label> {{ field }}
                        </div>
                        {% endfor %} {% if formers %}
                        <hr>
                        <b>Info Barang</b><br>
                        <ul>
                            {% for fieldform,nama in formers %}
                            <li>{{ nama }}<br> Persen royalty:
                                <div class="infobarang">
                                    {{ fieldform.royal_input }}
                                    <div class="infobarang2">
                                        (%)
                                    </div>
                                </div>
                                Harga sewa:
                                <div class="infobarang3">
                                    {{ fieldform.harga_sewa }}
                                    <div class="infobarang2">
                                        (Rupiah/minggu)
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                </div>
                
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-primary btnagree">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
`;
    var delete_button = '<button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#{0}"><i class="fas fa-trash"></i></button>';
    var confirm_delete = `                             
<div class="modal fade" id="{0}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBarang">Delete Barang</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalkiri">
                Apakah benar ingin <b>menghapus</b> Barang {1} {2}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-primary btnagree" data-dismiss="modal" onclick="delete_entry('{3}')">Ya,
                    benar</button>
            </div>
        </div>
    </div>
</div>
`;
    var detail_barang = `
<button type="button" class="btn btn-primary detail"><a href="/barang/detail_barang/{0}">Lihat Detail Barang</a></button>
`
    var pagination_open = `
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        `
    var pagination_close = `
        </ul>
        </nav>
        `
    var pagination_item = `
        <li class="page-item"><a class="page-link" href="{0}">{1}</a></li>
`
    var url;
    var page;
    var sorter;

    $(document).ready(function() {
        url = new URL(window.location.href);
        page = url.searchParams.get("page");
        sorter = url.searchParams.get("sort");
        console.log(sorter);
        if (sorter != null) {
            $("#sorter_select").val(sorter);
            if (sorter == "id_barang") sorter += "::bigint";
        }
        $.ajax({
            url: url_list_barang,
            method: "POST",
            data: {
                page_number: page,
                sorter: sorter
            },
            success: function(result) {
                // tampilkan tabel
                var str_build = "";
                for (var result_per_line in result['result']) {
                    var id_barang = result['result'][result_per_line][0];

                    str_build += tr_open_format.format(id_barang);

                    // untuk string
                    for (var cell in result['result'][result_per_line]) {
                        str_build += td_open;
                        if (result['result'][result_per_line][cell] != null) {
                            str_build += result['result'][result_per_line][cell];
                        }
                        str_build += td_close;
                    }

                    // untuk tombol
                    str_build += td_open;
                    str_build += update_button.format('update' + id_barang);
                    str_build += modal_update.format('update' + id_barang);

                    var daftar_item = result['result'][result_per_line][1];
                    var warna = result['result'][result_per_line][2];
                    str_build += delete_button.format('delete' + id_barang);
                    str_build += confirm_delete.format('delete' + id_barang, daftar_item, 'warna ' + warna, id_barang);
                    str_build += td_close;


                    // untuk detail
                    str_build += td_open;
                    str_build += detail_barang.format(id_barang);
                    str_build += td_close;

                    str_build += tr_close;
                }
                $("#tabel-barang").append(str_build);

                // tampilkan pagination
                var page_built = "";
                page_built += pagination_open;
                if (page == null) {
                    page = "1";
                }
                var page_int = parseInt(page, 10)
                if (page_int > parseInt("1", 10)) {
                    page_built += pagination_item.format(updateURLParameter(window.location.href, 'page', page_int - 1), 'Previous');
                }
                for (var counter = 1; counter <= result['pagination']; counter++) {
                    page_built += pagination_item.format(updateURLParameter(window.location.href, 'page', counter), counter);
                }
                if (page_int < result['pagination']) {
                    page_built += pagination_item.format(updateURLParameter(window.location.href, 'page', page_int + 1), 'Next');
                }
                page_built += pagination_close;
                $("#pagination").append(page_built);

            },
            error: function(error_msg) {
                console.log(error_msg);
            }
        });
    });

    function delete_entry(id_number) {
        $(".delete").attr("disabled", true);
        $.ajax({
            type: "POST",
            url: url_del_barang,
            data: {
                id: id_number,
            },
            success: function(result) {
                $("#id" + id_number).remove();
                if (page == null) {
                    page = "1";
                }
                var page_int = parseInt(page, 10)
                if (!$.trim($('#tabel-barang').html()).length) {
                    if (page_int == 1) {
                        // redirect to tell empty table
                    } else {
                        windows.location.replace('?page=' + (page_int - 1));
                    }
                }
                $(".delete").attr("disabled", false);
            },
            error: function(result) {
                alert('error');
            }
        });
    }

    function sort(sort_type) {
        var sort_type_to_pass = sort_type;
        if (sort_type == "id_barang") {
            sort_type_to_pass += "::bigint";
        }
        $.ajax({
            url: url_list_barang,
            type: "POST",
            data: {
                page_number: page,
                sorter: sort_type_to_pass
            },
            success: function(result) {
                // ganti url
                window.history.replaceState('', '', updateURLParameter(window.location.href, "sort", sort_type));
                // tampilkan tabel
                $("#tabel-barang").empty();
                var str_build = "";
                for (var result_per_line in result['result']) {
                    var id_barang = result['result'][result_per_line][0];

                    str_build += tr_open_format.format(id_barang);

                    // untuk string
                    for (var cell in result['result'][result_per_line]) {
                        str_build += td_open;
                        if (result['result'][result_per_line][cell] != null) {
                            str_build += result['result'][result_per_line][cell];
                        }
                        str_build += td_close;
                    }

                    // untuk tombol
                    str_build += td_open;
                    str_build += update_button.format('update' + id_barang);
                    str_build += modal_update.format('update' + id_barang);

                    var daftar_item = result['result'][result_per_line][1];
                    var warna = result['result'][result_per_line][2];
                    str_build += delete_button.format('delete' + id_barang);
                    str_build += confirm_delete.format('delete' + id_barang, daftar_item, warna, id_barang);
                    str_build += td_close;


                    // untuk detail
                    str_build += td_open;
                    str_build += detail_barang.format(id_barang);
                    str_build += td_close;

                    str_build += tr_close;
                }
                $("#tabel-barang").append(str_build);
            },
            error: function(result) {
                alert(result);
            }
        });
    }
</script>
{% endblock %}