{% extends "base.html" %} {% load static %} {% block content %}
<!-- CONTENT -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <a id="past_button" href="#"> <i class="fa fa-arrow-left back"></i></a>
                    <h2 class="judul">Detail Barang</h2>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6 tengah">
                            <h4 class="blue">{{ nama_item }}</h4>
                        </div>
                        {% if request.session.role == "admin" %}
                        <div class="col-sm-6 kanan">
                            <button type="button" class="btn btn-primary update" data-toggle="modal" data-target="#id{{ id_barang }}">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                            <div class="modal fade" id="id{{ id_barang }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updatePesanan1">Update Barang</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body modalkiri">
                                            Apakah benar ingin <b>mengupdate</b> Barang {{ nama_item }} warna {{ warna }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                            <button type="button" class="btn btn-primary btnagree" data-dismiss="modal">Ya, benar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#delete1">
                                <i class="fas fa-trash"></i>
                            </button>
                            <div class="modal fade" id="delete1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deletePesanan1">Delete Barang</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body modalkiri">
                                            Apakah benar ingin <b>menghapus</b> Barang {{ nama_item }} warna {{ warna }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                                            <button type="button" class="btn btn-primary btnagree" data-dismiss="modal" onclick="del_barang({{ id_barang }})">Ya, benar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <hr class="garis">
                    <div class="row">
                        <div class="col-sm-6 tengah">
                            <p><b>ID Barang: </b>{{ id_barang }}</p>
                            <p><b>Nama Item: </b>{{ nama_item }}</p>
                            <p><b>Warna: </b>{{ warna }}</p>
                            <p><b>Kondisi: </b>{{ kondisi }}</p>
                            <p><b>Lama Penggunaan: </b>{{ lama_penggunaan }}</p>
                            <p><b>Pemilik/Penyewa: </b>{{ nama_lengkap }}</p>
                        </div>
                        <div class="col-sm-6 kanan">
                            <img src="{{ url_foto }}" alt="foto" width="300px" height="300px" srcset="">
                        </div>
                    </div>
                    <div class="submitditengah">
                        <button onclick="alert('not implemented')" type="submit" class="button alert">Pesan</button>
                    </div>
                    <hr class="garis2">
                    <p><b>Daftar Review</b></p>

                    <div class="row">
                        {% if request.session.role == "anggota" %}

                        <div class="col-sm-6 tengah">
                            <form method="POST">
                                {{ review_form }}
                                <div class="submitditengah">
                                    <button id="submit_review" type="submit" class="button alert" onclick="alert('not implemented')">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            {% endif %} {% for nama, review in daftar_review %}
                            <table style="margin: 10px">
                                <tr>
                                    <th>
                                        Nama
                                    </th>
                                    <td>
                                        {{ nama }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Review
                                    </th>
                                    <td>
                                        {{ review }}
                                    </td>
                                </tr>
                            </table>
                            {% endfor %}

                            <br> {% if request.session.role == "anggota" %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var url_del_barang = "{% url 'barang:delete_barang' %}";

    $(document).ready(function() {
        $("#past_button").attr("href", document.referrer);
    });

    function del_barang(id_number) {
        $.ajax({
            type: "POST",
            url: url_del_barang,
            data: {
                id: id_number,
            },
            success: function(result) {
                back_to_past();
            },
            error: function(result) {
                alert('error');
            }
        });
    }

    function back_to_past() {
        window.location.replace = document.referrer;
    }
</script>
{% endblock %}