{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul">Penambahan Pesanan</h2>
                        <hr class="garis">
                        <form action="/pesanan/post_create_pesanan/" method="POST">
                            {% csrf_token %}
                            {% if request.session.role == "admin" %}
                            <div class="form-label-group jarakatas">
                                <label for="inputAnggota"><b>Anggota:</b></label>
                                <select name="anggota" class="form-control selectpicker" id="inputAnggota" placeholder="Pilih Anggota" required>
                                    {% for i in anggota %}
                                        <option>{{i.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}
                            <div class="form-label-group jarakatas">
                                <label for="inputAnggota"><b>Barang:</b></label>
                                <select name="Barang" class="form-control selectpicker" id="inputBarang" placeholder="Pilih Barang" multiple data-live-search="true" required>
                                    {% for i in barang %}
                                        <option>{{i.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputLama"><b>Lama Sewa:</b></label>
                                <input name="lama" type="text" id="inputLama" class="form-control" required>
                            </div>
                            <div class="submitditengah">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('select').selectpicker();
    </script>
{% endblock %}