{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul2">Daftar Pesanan</h2>
                        <input id="searchbar" type="text" name="" value="" placeholder="Search ID Pesanan..." style="display:inline">
                        <div class="table-responsive">
                            <table class="table center">    
                                <thead>
                                    <tr>
                                        <th scope="col">ID Pesanan</th>
                                        <th scope="col">Daftar Barang</th>
                                        <th scope="col">Harga Sewa</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tabel-pesanan">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var get_pesanan_json_url = "{% url 'pesanan:get-daftar-pesanan' %}";
        var url_delete_pesanan = "{% url 'pesanan:delete_pesanan' %}"
        </script>
        <script type="text/javascript" src="{% static 'js/get-pesanan.js' %}"></script>
        <script>
        function deleteFunction(nama){
        data = {
            "id": nama,
          }
        console.log(nama)
        $.ajax({
            type: "POST",
            url: url_delete_pesanan,
            data: data,
            success: function(result) {
                console.log(data);
                window.location.href="/pesanan/daftar_pesanan"
                
            },
            error: function(xhr) {
                console.log(xhr);        
            }
        });
    
    }
        </script>
{% endblock %}