{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <form action="" method="POST">
                        <h2 class="judul">Penambahan Level</h2>
                        <hr class="garis">
                        {% csrf_token %}
                        {{ levelform }}
                        <br>
                        <button id="submit_level" type="submit" class="button alert">Submit</button>
                    </form>            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}