{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul2">Daftar Level</h2>
                        <input id="searchbar" type="text" name="" value="" placeholder="Search level..." style="display:inline">
                        <div class="table-responsive">
                            <table class="table center">    
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama Level</th>
                                        <th scope="col">Deskripsi</th>
                                        <th scope="col">Minimum Poin</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tabel-level">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var get_level_json_url = "{% url 'level:get-level-json' %}";
    var url_delete_level = "{% url 'level:delete_level' %}"
    </script>
    <script type="text/javascript" src="{% static 'js/get-level.js' %}"></script>
    <script>
    function deleteFunction(nama){
    data = {
        "namalevel": nama,
      }
    console.log(nama)
    $.ajax({
        type: "POST",
        url: url_delete_level,
        data: data,
        success: function(result) {
            console.log(data);
            window.location.href="/level/daftar_level"
            
        },
        error: function(xhr) {
            console.log(xhr);        
        }
    });

}
    </script>
{% endblock %}