html, body {
    background-color: #eeeeee;
}

.navbar {
    flex: 0 0 auto;
    background-color: #273B7A !important;
}

.navbar a {
    color: #ffffff !important;
    font-size: 14px;
}

.navbar a:hover {
    color: #FEE187 !important;
    font-size: 14px;
}

.dropdown-menu a {
    color: black !important;
    font-size: 14px;
}

.dropdown-menu a:hover {
    color: black !important;
}

.content {
    width: 100%;
    overflow: hidden;
    padding: 3em 6em 3em 6em;
    background-color: #eeeeee;
}

.content2 {
    width: 100%;
    padding: 3em 6em 3em 6em;
    background: linear-gradient(to right, #E55D87, #5FC3E4);
}

.roundedrec {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.insiderec {
    padding: 60px;
}

.judul {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.judul2 {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
}

.batesjudul {
    padding-bottom: 20px;
}

.garis {
    padding-top: 15px;
}

.garis2 {
    margin-top: 32px;
    padding-top: 15px;
}

.jarakatas {
    padding-top: 20px;
}

input[type=text] {
    padding: 23px 14px 23px 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

.selectpicker {
    height: calc(3rem + 2px) !important;
    border: 1px solid #cccccc !important;
}

input[type=submit] {
    background-color: #273B7A;
    border: none;
    color: white;
    padding: 18px;
    border-radius: 50px;
    cursor: pointer;
    width: 15em;
    margin-top: 10px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #121149;
}

.usia {
    display: flex;
    flex-direction: row;
}

.usia2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inputRentangUsia1 {
    margin-right: 10px !important;
}

#inputRentangUsia2 {
    margin-left: 10px !important;
}

.submitditengah {
    padding-top: 40px;
    text-align: center;
}

.center {
    text-align: center;
}

.blue {
    color: #273B7A;
}

.tengah {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poinlevel {
    font-size: 13px;
    color: #808080;
    padding-top:5px;
}

.poinlevel2 {
    text-align: right;
}

.poinlevel2 a {
    font-size: 13px;
    color: rgb(192, 0, 0) !important;
}

.update {
    border: none !important;
    background-color: #273B7A !important;
    margin: 4px;
}

.update:hover {
    background-color: #121149 !important;
    margin: 4px;
}

.delete {
    border: none !important;
    background-color: rgb(192, 0, 0) !important;
    margin: 4px;
}

.delete:hover {
    background-color: rgb(153, 0, 0) !important;
    margin: 4px;
}

.detail {
    border: none !important;
    background-color: #7e7e7e !important;
    margin: 4px;
}

.detail:hover {
    background-color: rgb(80, 80, 80) !important;
    margin: 4px;
}

.detail a {
    color: white;
}

.detail a:hover {
    color: white;
    text-decoration: none;
}

.back {
    color: #7e7e7e;
    margin-bottom: 20px;
    font-size: 20px;
}

.back:hover {
    color: rgb(80, 80, 80);
    text-decoration: none;
}

.modalkiri {
    text-align: left;
}

.btnagree {
    border-color: #273B7A !important;
    background-color: #273B7A !important;
}

.btnagree:hover {
    border-color: #121149 !important;
    background-color: #121149 !important;
}

.kanan {
    text-align: right;
}

.filtering {
    width: 240px;
    height:30px;
    margin-bottom: 15px;
}

.pagination {
    justify-content: center;
}

.pagination li a {
    color: #273B7A;
}

.pagination li a:hover {
    color: #273B7A;
}

.infobarang {
    display: flex;
    flex-direction: row;
    width: 200px;
}

.infobarang2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.infobarang3 {
    display: flex;
    flex-direction: row;
    width: 297px;
}

.naikan {
    margin-bottom: -13px;
}

/* CSS for chatting template */

.roundedrec_chat {
    margin: 0;
    background: linear-gradient(to right, #273B7A, rgb(57, 85, 175));
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #FFC61B;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .content {
        width: 100%;
        overflow: hidden;
        padding: 3em 1.3em 3em 1.3em;
        background-color: #eeeeee;
    }
    input[type=submit] {
        width: 10em;
    }
    input[type=submit]:hover {
        width: 10em;
    }
    .insiderec {
        padding: 60px 30px 60px 30px;
    }

    .kanan {
        padding-top: 7px;
        text-align: left;
    }
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}