html, body{
    height: 100%;
    background-image: url("../img/bg.gif");
    background-size: cover;
}

.landing {
    overflow: hidden;
    height: 100%;
}

.logo {
    width:130px;
    padding-bottom: 20px;
}

.bio {
    color: white;
}

.size {
    width: 300px;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.getstarted {
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    background-color: #273B7A;
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.login {
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.navbar a {
    color: white !important;
    font-size: 14px;
}

.dropdown-menu a {
    color: black !important;
    font-size: 14px;
}

input[type=text] {
    padding: 23px 14px 23px 14px;
    border: none;
    border-radius: 4px 4px 0px 0px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

input[type=submit] {
    background-color: #273B7A;
    border: none;
    color: white;
    padding: 13px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

#inputemail {
    padding: 23px 14px 23px 14px;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

.register_as_admin {
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.register_as_anggota {
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.blue {
    color: #273B7A;
}

#inputnamalengkap {
    padding: 23px 14px 23px 14px;
    border: none;
    border-radius: 0px;
    border-top: 1px solid #aaaaaa;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

#inputemail2 {
    padding: 23px 14px 23px 14px;
    border: none;
    border-radius: 0px;
    border-top: 1px solid #aaaaaa;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

#inputtanggallahir {
    padding: 23px 14px 23px 14px;
    border: none;
    border-radius: 0px;
    border-top: 1px solid #aaaaaa;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

#inputnotelepon {
    padding: 23px 14px 23px 14px;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

#inputnotelepon2 {
    padding: 23px 14px 23px 14px;
    border: none;
    border-radius: 0px;
    border-top: 1px solid #aaaaaa;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

.alamat {
    display: flex;
    flex-direction: row;
}

.alamat2 {
    display: flex;
    flex-direction: row;
}

#inputalamat {
    padding: 23px 14px 23px 14px;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-radius: 0px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

#inputalamat2 {
    padding: 23px 14px 23px 14px;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-radius: 0px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    margin-left: 1px;
}

#inputalamat3 {
    padding: 23px 14px 23px 14px;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-radius: 0px 0px 0px 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    margin-right: 1px;
}

#inputalamat4 {
    padding: 23px 14px 23px 14px;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-radius: 0px 0px 4px 0px;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    margin-left: 1px;
}

@media(max-width:700px){
    .logo {
        width: 100px;
    }

    .size {
        width: 260px;
    }
}