{% extends "landing.html" %}
{% load static %}
{% block content %}
    {% if request.session.role == "anggota" or request.session.role == "admin" %}
    <script>
    $(document).ready(function(){
        window.location.href="/profil/"
    })
    </script>
    {% endif %}
    <!-- CONTENT -->
    <div class="center">
        <div class="size">
                <a href="{% url 'home' %}"><img class='logo' src="{% static 'img/puzzle2.svg' %}" alt="logo"></a>
            <p class="bio">For all the moments between eating and sleeping!
            Rent that toy without burning a hole in your pocket.</p>
            <form action="/register/post-register/admin/" method="POST">
                {% csrf_token %}
                <input name="ktp" type="text" id="inputnoktp" class="form-control" placeholder="Nomor KTP" required>
                <input name="nama" type="text" id="inputnamalengkap" class="form-control" placeholder="Nama Lengkap" required>
                <input name="email" type="email" id="inputemail2" class="form-control" placeholder="Email" required>
                <input name="tanggal" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="inputtanggallahir" class="form-control" placeholder="Tanggal Lahir" required>
                <input name="telp" type="text" id="inputnotelepon" class="form-control" placeholder="Nomor Telepon" required>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
{% endblock %}