{% extends "landing.html" %}
{% load static %}
{% block content %}
    {% if request.session.role == "anggota" or request.session.role == "admin" %}
    <script>
    $(document).ready(function(){
        window.location.href="/profil/"
    })
    </script>
    {% endif %}
    <!-- CONTENT -->
    <div class="center">
        <div class="size">
            <a href="{% url 'home' %}"><img class='logo' src="{% static 'img/puzzle2.svg' %}" alt="logo"></a>
            <p class="bio">For all the moments between eating and sleeping!
            Rent that toy without burning a hole in your pocket.</p>
            <button class="getstarted" onClick="window.location.href='/register/'">Get Started</button>
            <button class="login" onClick="window.location.href='/login/'">Login</button>
        </div>
    </div>
{% endblock %}