{% extends "landing.html" %}
{% load static %}
{% block content %}
    {% if request.session.role == "anggota" or request.session.role == "admin" %}
    <script>
    $(document).ready(function(){
        window.location.href="/profil/"
    })
    </script>
    {% endif %}
    <!-- CONTENT -->
    <div class="center">
        <div class="size">
            <a href="{% url 'home' %}"><img class='logo' src="{% static 'img/puzzle2.svg' %}" alt="logo"></a>
            <p class="bio">For all the moments between eating and sleeping!
            Rent that toy without burning a hole in your pocket.</p>
            <form action="/post-login/" method="POST">
                {% csrf_token %}
                <input name="ktp" type="text" id="inputnoktp" class="form-control" placeholder="Nomor KTP" required>
                <input name="email" type="email" id="inputemail" class="form-control" placeholder="Email" required>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
{% endblock %}