{% extends "base.html" %} {% load static %} {% block content %}
<!-- CONTENT -->

<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec_chat">
                <div class="insiderec">
                    <div class="row justify-content-center h-100">
                        <div class="col-md-4 col-xl-3 mt-auto mb-auto">
                            <div class="card mb-sm-3 mb-md-0 contacts_card">
                                <div class="card-header">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search..." name="" class="form-control search">
                                        <div class="input-group-prepend" onclick="alert('not implemented')">
                                            <span class="input-group-text search_btn text-white border-0">
                                                <i class="fas fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body contacts_body">
                                    <ui class="contacts p-0">
                                        {% for nama, no_ktp in daftar_admin %}
                                        <li value="{{ no_ktp }}" onclick="alert('not implemented')" style="cursor: pointer">
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="https://via.placeholder.com/100" class="rounded-circle user_img">
                                                </div>
                                                <div class="user_info">
                                                    <span>{{ nama }}</span>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ui>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xl-6 mt-auto mb-auto">
                            <div class="card">
                                <div class="card-header msg_head">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="https://via.placeholder.com/150" class="rounded-circle user_img">
                                        </div>
                                        <div class="user_info">
                                            <span>{{ nama_admin }}</span>
                                            <p>{{ total_pesan }} Messages</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body msg_card_body">
                                    {% for message, timestamp in messages %}
                                    <div class="d-flex justify-content-center mb-4">
                                        <div class="msg_cotainer_send">
                                            {{ message }}
                                            <span class="msg_time_send">{{ timestamp }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="card-footer">
                                    <div class="input-group">
                                        {{ chatform }}
                                        <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                        <div class="input-group-append" onclick="alert('not implemented');">
                                            <span class="input-group-text send_btn"><i
                                                    class="fas fa-location-arrow"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}