{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2 class="judul">Profil</h2>
                                <hr>
                                <h4 class="blue">Halo, {{ request.session.nama }}!</h4>
                                <div class="row naikan">
                                    <div class="col-sm-8">
                                        <p class="poinlevel"><b>Role: </b>{{ request.session.role }}
                                            {% if request.session.role == "anggota" %}
                                            | <i class="fas fa-star"></i> {{ request.session.poin }} poin - Level {{ request.session.level }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-sm-4 poinlevel2">
                                        <a href="/logout/"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                    </div>
                                </div>
                                <hr class="garis">
                                <p><b>Nomor KTP: </b>{{ request.session.ktp }}</p>
                                <p><b>Nama Lengkap: </b>{{ request.session.nama }}</p>
                                <p><b>Email: </b>{{ request.session.email }}</p>
                                <p><b>Tanggal Lahir: </b>{{ request.session.tanggal }}</p>
                                <p><b>Nomor Telepon: </b>{{ request.session.telp }}</p>
                                {% if request.session.role == "anggota" %}
                                    <p><b>Nama Alamat: </b>{{ request.session.nama_alamat }}</p>
                                    <p><b>Jalan: </b>{{ request.session.jalan }}</p>
                                    <p><b>Nomor: </b>{{ request.session.nomor }}</p>
                                    <p><b>Kota: </b>{{ request.session.kota }}</p>
                                    <p><b>Kodepos: </b>{{ request.session.kodepos }}</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <img width="100%" src="{% static 'img/illustrasi.jpg' %}" alt="profil">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}