{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul">Penambahan Item</h2>
                        <hr class="garis">
                        <form action="/item/post_create_item/" method="POST">
                            {% csrf_token %}
                            <div class="form-label-group">
                                <label for="inputNama"><b>Nama:</b></label>
                                <input name="nama" type="text" id="inputNama" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputDeskripsi"><b>Deskripsi:</b></label>
                                <input name="deskripsi" type="text" id="inputDeskripsi" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputRentangUsia"><b>Rentang Usia:</b></label>
                                <div class="usia">
                                    <input name="rentangusia1" type="text" id="inputRentangUsia1" class="form-control" placeholder="Minimal Usia" required>
                                    <div class="usia2">
                                        -
                                    </div>
                                    <input name="rentangusia2" type="text" id="inputRentangUsia2" class="form-control" placeholder="Maksimal Usia" quired>
                                </div>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputBahan"><b>Bahan:</b></label>
                                <input name="bahan" type="text" id="inputBahan" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputKategori"><b>Kategori:</b></label>
                                <select name="kategori" class="form-control selectpicker" id="inputKategori" placeholder="Boleh pilih lebih dari satu.." multiple data-live-search="true" required>
                                    {% for i in kategori %}
                                        <option>{{i.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="submitditengah">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('select').selectpicker();
    </script>
{% endblock %}