{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="judul2">Daftar Item</h2>
                        <select class="filtering">
                            <option value="volvo">Filter by..</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <select class="filtering">
                            <option value="volvo">Sort by..</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        {% if request.session.role == "admin" %}
                        <div class="table-responsive">
                            <table class="table center">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama Item</th>
                                        <th scope="col">Kategori</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in item %}
                                    <tr>
                                        <td scope="row">{{ forloop.counter }}</td>
                                        <td scope="row">{{ i.0 }}</td>
                                        <td scope="row">{{ i.1 }}</td>
                                        <td scope="row">
                                            <!-- update button -->
                                            <button type="button" class="btn btn-primary update" id="{{ forloop.counter }}" onclick="kategoriValues(this.id)" data-toggle="modal" data-target="#update{{ forloop.counter }}">
                                                <i class="fas fa-sync-alt"></i>
                                            </button>
                                            <!-- update modal -->
                                            <div class="modal fade" id="update{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Update Item</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body modalkiri">
                                                        <form action="/item/update_item/" method="POST">
                                                            {% csrf_token %}
                                                            <div class="form-label-group">
                                                                <label for="inputNama"><b>Nama:</b></label>
                                                                <input name="nama" type="text" id="inputNama{{ forloop.counter }}" class="form-control" value="{{ i.0 }}" readonly="readonly" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputDeskripsi"><b>Deskripsi:</b></label>
                                                                <input name="deskripsi" type="text" id="inputDeskripsi{{ forloop.counter }}" class="form-control" value="{{ i.2 }}" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputRentangUsia"><b>Rentang Usia:</b></label>
                                                                <div class="usia">
                                                                    <input name="rentangusia1" type="text" id="inputRentangUsiaMin{{ forloop.counter }}" class="form-control" value="{{ i.3 }}" required>
                                                                    <div class="usia2">
                                                                        -
                                                                    </div>
                                                                    <input name="rentangusia2" type="text" id="inputRentangUsiaMax{{ forloop.counter }}" class="form-control" value="{{ i.4 }}" placeholder="Maksimal Usia" quired>
                                                                </div>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputBahan"><b>Bahan:</b></label>
                                                                <input name="bahan" type="text" id="inputBahan{{ forloop.counter }}" class="form-control" value="{{ i.5 }}" required>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputKategori"><b>Kategori:</b></label>
                                                                <select name="kategori" class="form-control selectpicker" id="inputKategori{{ forloop.counter }}" placeholder="Boleh pilih lebih dari satu.." multiple data-live-search="true" required>
                                                                    {% for j in kategori %}
                                                                        <option>{{ j.0 }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                        <button type="submit" class="btn btn-primary btnagree">Update</button>
                                                        </form>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- delete button -->
                                            <button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#delete{{ forloop.counter }}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            <!-- delete modal -->
                                            <div class="modal fade" id="delete{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title id_delete{{ forloop.counter }}" id="{{ i.0 }}">Delete Item</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body modalkiri">
                                                        Apakah benar ingin <b>menghapus</b> item {{ i.0 }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                                                        <button id="{{ forloop.counter }}" type="button" class="btn btn-primary btnagree" onclick="deleteFunc(this.id)">Ya, benar</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% elif request.session.role == "anggota" %}
                        <div class="table-responsive">
                            <table class="table center">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama Item</th>
                                        <th scope="col">Kategori</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in item %}
                                    <tr>
                                        <td scope="row">{{ forloop.counter }}</td>
                                        <td scope="row">{{ i.0 }}</td>
                                        <td scope="row">{{ i.1 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        <div class="pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('select').selectpicker();
    </script>
    <script type="text/javascript" src="{% static 'js/item.js' %}"></script>
{% endblock %}